/PCD/Practica1/nbproject/private/
/PCD/Practica1/build/
/PCD/Practica_4/Ejemplo_wait_notify/build/
/PCD/Practica_4/Ejemplo_wait_notify/dist/
/PCD/Practica_4/Ejemplo_wait_notify/nbproject/private/
/PCD/Practica_4/Practica4/build/
/PCD/Practica_4/Practica4/nbproject/private/
/PCD/Practica_4/Practica4_ejemplo/build/
/PCD/Practica_4/Practica4_ejemplo/nbproject/private/
/PCD/Clase5_Pedro/nbproject/private/
/PCD/Practica5/nbproject/private/
/PCD/Practica5/build/
